*{
  margin: 0;
  padding: 0;
  box-sizing: boarder-box;
}

body {
  hight: 100vh;
  background-color: rgb(25, 41, 88);
  font-family: "Poppins", sans-serif;
}
a, 
button {
  font-family: "Poppins", sans-serif;
}

.dropdown {
  hight: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto
}

.mods, 
.versions{
  position: relative;
}


.mods ul,
.versions ul{
  position: absolute;
  background: white;
  margin-top: 10px;
  width: 200px;
  hight: 200px;
}
