*{
  margin: 0;
  padding: 0;
  box-sizing: boarder-box;
}

body {
  hight: 100vh;
  background-color: rgb(147, 157, 191);
  font-family: "Poppins", sans-serif;
}
a, 
button {
  font-family: "Poppins", sans-serif;
}

.dropdown {
  hight: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto
}

.mods, 
.versions{
  position: relative;
}


.mods ul,
.versions ul{
  position: absolute;
  background: white;
  margin-top: 10px;
  width: 200px;
  hight: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  boarder-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: 1ll 0.4s ease;
}
.mods a, .versions a{\
  color: black;
  text-decoration: none;
  
}

.dropdown button, 
.home {
  background: none;
  boarder: none;
  color: white;
  text-decoration: none;
  font-size: 18px;
  curser: pointer;
}
.dropdown button:hover,
.home:hover{
  color: rgb(193, 194, 199);
}
.mods li, 
.versions li{
  width: 100%;
  hight: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mods li:hover, 
.versions li:hover{
    background-color: rgb(90, 148, 242);
}


.mods button:focus + ul{
  opacity: 1;
  pointer-events: all;
}
